* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.footer {
  background-color: black;
  padding: 10px 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}

table tr, table th, table td {
  vertical-align: middle;
}